@model AsyncInn.Models.ViewModels.HotelRoomVM

@{
    ViewData["Title"] = "Edit";
}
    <head>
        <partial name="../Shared/_Styling" />
    </head>
    <header>
        <partial name="../Shared/_Navbar" />
    </header>
<h1>Edit</h1>

<h4>Hotel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Hotel.ID" />
            <div class="form-group">
                <label asp-for="Hotel.Name" class="control-label"></label>
                <input asp-for="Hotel.Name" class="form-control" />
                <span asp-validation-for="Hotel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.StreetAddress" class="control-label"></label>
                <input asp-for="Hotel.StreetAddress" class="form-control" />
                <span asp-validation-for="Hotel.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.City" class="control-label"></label>
                <input asp-for="Hotel.City" class="form-control" />
                <span asp-validation-for="Hotel.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.State" class="control-label"></label>
                <input asp-for="Hotel.State" class="form-control" />
                <span asp-validation-for="Hotel.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel.Phone" class="control-label"></label>
                <input asp-for="Hotel.Phone" class="form-control" />
                <span asp-validation-for="Hotel.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Add a Room to this Hotel", "Create", "HotelRooms", new { HotelID = Model.Hotel.ID })
    <ul>
        @foreach (var room in Model.HotelRooms)
        {
            <li>@room.Room.Name</li>
            <form asp-action="Delete" asp-controller="HotelRooms">
                <input type="hidden" asp-for="@Model.HotelRooms.First(x => x.RoomNumber == room.RoomNumber).RoomNumber" />
                <input type="hidden" asp-for="@Model.HotelRooms.First(x => x.HotelID == room.HotelID).HotelID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        }
    </ul>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

