@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
}
    <head>
        <partial name="../Shared/_Styling" />
    </head>
    <header>
        <partial name="../Shared/_Navbar" />
    </header>
<h1>Room Amenities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-light">
    <thead class="thead-dark">
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
